				{% for tipo, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{tipo}} alert-dismissible fade show" role="alert">
							<strong>{{ (tipo  == 'success' ) ? 'Éxito!' : 'Error' }}</strong>
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}