{% extends 'base.html.twig' %}

{% block title %}
	Editar Marcador
{% endblock %}

{% block stylesheets %}
	{{parent() }}
	<link rel="stylesheet" href="/css/custom.css"/>
{% endblock %}

{% block screen %}Editar Marcador
{% endblock %}

{% block screen_breadcrumb %}Editar Marcador
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 offset-3">

    {{ include('marcador/_form.html.twig', {'button_label': 'Update'}) }}

    <a  class="btn btn-outline-primary float-right" href="{{ path('marcador_index') }}">Volver</a>

    {{ include('marcador/_delete_form.html.twig') }}
{% endblock %}
