{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}
    {{parent() }}
    <link rel="stylesheet" href="/css/custom.css" />
{% endblock %}

{% block screen %}Error indefinido{% endblock %}

{% block screen_breadcrumb %}Error indefinido{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Error indefinido estamos trabajando en ello</h1>
    </div>
{% endblock %}
