{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}
    {{parent() }}
    <link rel="stylesheet" href="/css/custom.css" />
{% endblock %}

{% block screen %}Error 500{% endblock %}

{% block screen_breadcrumb %}Error 500{% endblock %}

{% block content %}
    <div class="text-center">
        <img src="/images/error500.png"/>
    </div>
{% endblock %}
